@import 'reset-css/reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-color: #e9e9e9;
}

button {
  height: 42px;
  border: none;
}

.app {
  background: cadetblue;
  height: 100vh;
  width: 100vw;
}