.userList {
  display: none;
  background: #fff;
  border-right: 1px solid var(--border-color);
  padding: 1.4em;
}

.showMobile {
  display: block;
}

.userListLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding: 16px 8px;
  font-size: 14px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

@media (min-width: 780px) {
  .userList {
    display: block;
    width: 320px;
  }
}