.messages {
  display: flex;
  flex-direction: column;
  height: auto;
  /*max-height: 100%;*/
  width: 100%;
  padding: 16px 0;
  overflow-y: auto;
}

.message {
  position: relative;
  display: flex;
  width: 320px;
  max-width: 80%;
  justify-content: flex-start;
  align-items: center;
  padding: 28px 12px 18px;
  border-radius: 6px;
  background: linear-gradient(45deg, #b35988, #4f4887);
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 1.34;
}

.mainUser {
  margin-right: 0;
  margin-left: auto;
  background: linear-gradient(45deg, #304287, #6c4e87);
}

.messageUserName {
  width: calc(100% - 24px);
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 6px;
  left: 12px;
  font-size: 12px;
}

.mainUser {
}
