.copyBtn {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color-bg-input);
    border-radius: 50%;
    transition: all .25s ease-out;
}

.copyBtn span {
    opacity: 0;
    font-size: 0;
    margin-left: 0;
    transform: translateX(-20px);
    transition: transform .25s ease-out, opacity .1s ease-out, font-size .3s ease-out;
}

@media (min-width: 768px) {
    .copyBtn {
        height: 40px;
        width: auto;
        border-radius: 25px;
        padding: 24px 12px;
    }
    .copyBtn:hover {
        width: auto;
        border-radius: 20px;
        transition: all .25s ease-out;
    }

    .copyBtn:hover span {
        opacity: 1;
        font-size: 12px;
        margin-left: 6px;
        transform: translateX(0);
        transition: all .25s ease-out;
    }
}