.sendMessageWrapper {
  position: relative;
  padding: 18px 0;
  z-index: 2;
}

.sendMsgBtn {
  position: absolute;
  right: 15px;
  color: white;
  border: none;
  transform: rotate(90deg);
  background: var(--main-color-bg-input);
}
