.inputWrap {
  width: 100%;
}

.sendBtn {
  margin-top: 18px;
  transition: background-color .2s ease-out;
}

.msgInput {
  margin-top: 18px;
  transition: border-color .2s ease-out;
  outline: none;
  padding: 0 12px;
}

.sendBtn,
.msgInput {
  width: 100%;
}

.error {
  border-color: red!important;
}