.wrap {
  height: 100vh;
  background: linear-gradient(to bottom, #284187, #c85c88);
}

.chat {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  /*background-size: cover;*/
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

/*.chat:before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  left: 0;*/
/*  top: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  opacity: 0.6;*/
/*  background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/swirl_pattern.png');*/
/*}*/

.chatOuter {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chatInner {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /*background: #fff;*/
  padding: 0 18px 0;
}

.chatInner:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/swirl_pattern.png');
  z-index: 1;
}

.chatInner:after {
  content: '';
  position: absolute;
  top: -13px;
  left: 0;
  width: 100%;
  height: 20px;
  background: #ffffffa1;
  z-index: 10;
  filter: blur(8px);
}

.chatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 12px 8px;
  height: var(--chat-header-height);
  background: #000;
  color: #e9e9e9;
}

.chatLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatLink p {
  display: none;
}

.chatHeaderContent {
  height: 100%;
}

/*.copyBtn {*/
/*  margin-left: 2px;*/
/*}*/

.circleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.usersListBtn {
  display: block;
}

.chatInner {
  position: relative;
  justify-content: flex-end;
  flex-direction: column;
}

@media (min-width: 780px) {
  .usersListBtn {
    display: none;
  }
  .circleBtn {
    border: none;
  }

  .chat {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 6px 6px;
  }

  .chatLink p {
    display: block;
  }

  .wrap {
    padding: 2rem;
  }

  .chatHeader {
    border-radius: 6px 6px 0 0;
  }
}
