.userList {
  display: none;
  background: #f5f5fe;
  border-right: 1px solid var(--border-color);
}

.showMobile {
  display: block;
}

.userListLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding: 12px 24px 12px 12px;
  font-size: 14px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.userActions {
  height: 25px;
}

@media (min-width: 780px) {
  .userList {
    display: block;
    width: 320px;
  }
}