.userList {
  display: block;
  width: 320px;
  background: #f5f5fe;
  border-right: 1px solid var(--border-color);
}

.userListLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding: 12px 24px 12px 12px;
  font-size: 14px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.userActions {
  height: 25px;
}

@media (max-width: 780px) {
  .userList {
    display: none;
    position: absolute;
    z-index: 95;
    background: #fff;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    overflow-y: auto;
    box-shadow: 0 5px 4px -3px #5c5c5c;
  }
}


.showMobile {
  display: block;
}